@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');

:root {
    font-family: 'Manrope', sans-serif;
    font-size: clamp(0.6rem, 0.9em, 1.2rem);
    font-weight: bold;
    --sidebar-button-colour: rgb(194, 122, 194);
    --sidebar-button-hover: rgb(189, 112, 189);
    --global-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    --border-radius: 50px;
    --grey-background: rgb(117, 117, 117);
    --header-background-colour: rgb(109, 48, 167);
}

body {
    padding: 0;
    margin: 0;
}

.main {
    display: grid;
    grid-template-rows: 100px 1fr;
}

header {
    background-color: var(--header-background-colour);
    color: white;
    display: grid;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    box-shadow: var(--global-box-shadow);
}

#btn-add-book {
    padding: 16px 0;
    width: 100%;
}

#add-book-container {
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
}

#add-book-form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 32px;
    font-size: 1rem;
}

#add-book-form input {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 32px;
    border-radius: 8px;
    width: 100%;
    padding: 12px 0;
    margin: 0;
    font-size: 1rem;
}

#add-book-form button {
    background-color: var(--header-background-colour);
    color: white;
    border: none;
    border-radius: 12px;
    padding: 12px;
    width: 100%;
}

#add-book-form button[type="button"] {
    background-color: rgb(223, 70, 70);
    margin-top: 8px;
}

#dashboard {
    display: grid;
    background-color: var(--grey-background);
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr;
    overflow-y: scroll;
    height: calc(100vh - 100px); /* 100px is the height of the header */
}

#actions {
    justify-self: center;
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr 1fr;
    margin: 16px;
}

#bookshelf {
    padding: 1.2rem;
}

dialog {
    background-color: white;
    border: none;
    border-radius: 12px;
    padding: 32px;
    box-shadow: var(--global-box-shadow);
}

dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.726);
}

select {
    border: 1px solid black;
    border-radius: 8px;
    padding: 12px;
    width: 100%;
    background-color: transparent;
    font-size: 1rem;
}

.btn-toggle-read {
    
}

.btn-toggle-read img {
    width: 32px;
    height: auto;
    align-self: center;
    justify-self: center;
}

.btn-toggle-read button{
    background-color: transparent;
    border: none;
    border-radius: 50%;
}

.btn-toggle-read button:hover {
    background-color: rgba(128, 128, 128, 0.438);
}

.btn-toggle-read button:active {
    background-color: rgba(153, 153, 153, 0.411);
}

.action-button {
    color: white;
    background-color: rgb(84, 52, 126);
    padding: 12px 0;
    border-radius: 8px;
    border: none;
    width: 120px;
    box-shadow: var(--global-box-shadow);
}

.action-button:hover {
    background-color: rgb(109, 48, 167);
}

.action-button:active {
    background-color: rgb(73, 32, 112);
    box-shadow: inset 2px 2px 5px 0px rgba(0, 0, 0, 0.3);

}

.shelf{
    display: grid;
    grid-template-columns: repeat(auto-fit, 140px);
    grid-template-rows: repeat(auto-fit, 250px);
    row-gap: 150px;
    column-gap: 16px;
}

.book {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    height: 250px;
    align-items: center;
    justify-items: center;
}

.book-cover {
    background-color: beige;
    width: 140px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.book-cover img {
    width: 140px;
    height: 200px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.book-info {
    text-align: center;
    color: white;
    background-color: rgb(53, 53, 53);
    width: 140px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

input[type="number"] {
    appearance: textfield;
}

input {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid black;
}

@media screen and (max-width: 768px) {
    #sidebar {
        display: none;
    }
    #dashboard {
        width: 100vw;
        grid-template-rows: 50px 1fr;
    }

    header {
        width: 100%;
        grid-column: 1 / 3;
    }

    .shelf {
        justify-content: center;
        align-content: center;
    }
}